@tailwind base;
@tailwind components;
@tailwind utilities;

.my-sidebar{
  
    position: sticky;
    height: 90vh;
}
.tab-container {
  display: flex;
  flex-wrap: wrap;
}

.tab-item {
  flex: 1 1 auto;
  min-width: 0; /* Allows the tab item to shrink */
  overflow-wrap: break-word;
}
